@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --color-palette-crimson-red: rgba(220, 20, 60, 1);
  --color-palette-dark-gray: rgba(17, 17, 17, 1);
  --color-palette-jet-black: rgba(0, 0, 0, 1);
  --color-palette-light-gray: rgba(119, 119, 119, 1);
  --color-palette-pure-white: rgba(255, 255, 255, 1);
  --color-palette-soft-gold: rgba(241, 229, 172, 1);
  --color-palette-vegas-gold: rgba(196, 180, 84, 1);

  --primary: var(--color-palette-crimson-red);
}

html,
body,
#__next {
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: var(--color-palette-dark-gray);
}

html {
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
}
