.ContactContainer {
    width: 50vw;
    height: 20vh;

    color: var(--color-palette-pure-white);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    padding: 0 25vw;

    filter: drop-shadow(0 0.5rem 0.25rem black);
}

.ContactContainer * {
    z-index: 0;
    cursor: default;
    user-select: none;
}

.Contact {
    width: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    a {
        color: var(--color-palette-pure-white);
    }
}

.GitHubContainer,
.EmailContainer,
.LinkedInContainer {
    width: 100%;
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: center;
}

.GitHub,
.Email,
.LinkedIn {
    height: 5vh;
    cursor: pointer;

    transition: all 0.25s;
}

.GitHub:hover,
.Email:hover,
.LinkedIn:hover {
    filter: drop-shadow(0 0 1px white);
    transform: scale(1.1);
}

.CopyrightContainer {
    width: 100%;

    display: flex;

    align-items: center;
    justify-content: center;
}

.Copyright {
    font-size: 1.5rem;
    text-align: center;
}

@media (max-device-width: 900px) {

    .ContactContainer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        padding: 0;
    }

    .GitHub,
    .Email,
    .LinkedIn {
        width: 12vw;
        height: auto;
        cursor: pointer;
    }

    .Copyright {
        font-size: 4vw;
    }

    @media (orientation: landscape) {

        .GitHub,
        .Email,
        .LinkedIn {
            width: 12vh;
            height: auto;
            cursor: pointer;
        }

        .Copyright {
            font-size: 4vh;
        }
    }


}