.landingContainer {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.landing {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.textContainer {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding-left: 5%;
    padding-right: 2.5%;
}

.text {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.subtitleContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.subtitle {
    color: var(--color-palette-pure-white);
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    filter: drop-shadow(0 0 1.5px var(--color-palette-pure-white));
}

.titleContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.title {
    font-family: 'Roboto Mono', monospace;
    font-size: 4vw;
    color: var(--color-palette-pure-white);
}

.caret {
    filter: drop-shadow(0 0 1.5px var(--color-palette-pure-white));
}

.name {
    color: var(--primary);
    font-weight: 700;
    filter: drop-shadow(0 0 4.5px var(--primary));
}

.photoContainer {
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding-left: 2.5%;
    padding-right: 5%;
}

.photo {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    filter: drop-shadow(0 0.5rem 0.25rem black);
}

.subtract {
    width: 100%;
    position: absolute;
    transform: translateY(187.5%);

    left: 0;
    filter: drop-shadow(0 0 3px var(--primary));
}

.image {
    width: 100%;
}

.designContainer {
    height: 100%;
    width: 100%;

    position: absolute;
    filter: drop-shadow(0 0 3px var(--primary));
}

.design {
    // height: 0.33rem;
    height: 100%;
    width: 100%;
    // filter: contrast(0) sepia(100%) hue-rotate(-57.5deg) saturate(2000%) brightness(100%);

    position: absolute;

    transform: translateY(1rem);
}

@supports (mask-composite: source-out) {
    .design {
        // background-image: url("../public/landing.png");
        //     background-repeat: no-repeat;
        //     background-size: contain;
        //     background-position: center;

        -moz-mask-image: url("../public/landing.png"), url("../public/landingmask.png");
        -ms-mask-image: url("../public/landing.png"), url("../public/landingmask.png");
        -o-mask-image: url("../public/landing.png"), url("../public/landingmask.png");
        -webkit-mask-image: url("../public/landing.png"), url("../public/landingmask.png");
        mask-image: url("../public/landing.png"), url("../public/landingmask.png");

        -moz-mask-repeat: no-repeat;
        -ms-mask-repeat: no-repeat;
        -o-mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;

        -moz-mask-size: contain;
        -ms-mask-size: contain;
        -o-mask-size: contain;
        -webkit-mask-size: contain;
        mask-size: contain;

        -moz-mask-position: center;
        -ms-mask-position: center;
        -o-mask-position: center;
        -webkit-mask-position: center;
        mask-position: center;

        -moz-mask-composite: source-out;
        -ms-mask-composite: source-out;
        -o-mask-composite: source-out;
        -webkit-mask-composite: source-out;
        mask-composite: source-out;

        background-color: var(--primary);
    }
}

@media (orientation: portrait) {
    .landing {
        width: 90%;
        flex-direction: column;
    }

    .textContainer {
        width: 100%;
        height: 50%;

        padding-left: 0;
        padding-right: 0;

        padding-top: 10%;
        padding-bottom: 5%;

        text-align: center;
    }

    .subtitleContainer {
        align-items: center;
    }

    .subtitle {
        font-size: 5vw;
        margin-left: 0;
    }

    .titleContainer {
        align-items: center;
    }

    .title {
        font-size: 6.25vw;
    }

    .photoContainer {
        width: auto;
        height: 50%;

        padding-left: 0;
        padding-right: 0;

        padding-top: 5%;
        padding-bottom: 5%;
    }
}