.aboutContainer {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.about {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.photoContainer {
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding-left: 5%;
    padding-right: 2.5%;

    padding-top: 5%;
    padding-bottom: 5%;
}

.photo {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    filter: drop-shadow(0 0.5rem 0.25rem black);
}

.subtract {
    width: 100%;
    position: absolute;
    transform: translateX(2.5%) translateY(2.5%);
}

.image {
    width: 100%;
}

.design {
    height: 0.33rem;
    width: 100%;

    margin-top: 0.67rem;

    background-color: var(--primary);
}

.textContainer {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 2.5%;
    padding-right: 5%;

    padding-top: 5%;
    padding-bottom: 5%;
}

.text {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.subtitleContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.subtitle {
    color: var(--color-palette-pure-white);
    font-family: "Roboto", Helvetica;
    font-size: 3vw;
}

.titleContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.title {
    color: var(--primary);
    font-family: "Roboto Mono", Helvetica;
    font-size: 4vw;
    font-weight: 700;
}

.contentContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.content {
    color: var(--color-palette-light-gray);
    font-family: "Roboto", Helvetica;
    font-size: 1.5vw;

    a {
        color: var(--primary);
        text-decoration: none;
    }

}

@media (orientation: portrait) {
    .about {
        width: 90%;
        flex-direction: column-reverse;
    }

    .textContainer {
        width: 100%;
        height: auto;

        padding-left: 0;
        padding-right: 0;

        padding-bottom: 5%;

        text-align: center;
    }

    .subtitleContainer {
        align-items: center;
    }

    .subtitle {
        font-size: 5vw;
        margin-left: 0;
    }

    .titleContainer {
        align-items: center;
    }

    .title {
        font-size: 6.25vw;
    }

    .content {
        font-size: 5vw;
    }

    .photoContainer {
        width: auto;
        height: 50%;

        padding-left: 0;
        padding-right: 0;

        padding-top: 5%;
    }
}