.Sidebar {
  position: fixed;
  color: var(--color-palette-pure-white);
  z-index: 1;
  pointer-events: none;

  width: 100vw;
  height: 100vh;
}

.Sidebar__Burger {
  display: flex;
  align-items: center;

  width: 7.5vw;
  height: 7.5vw;

  margin: 7.5vw;
  margin-bottom: 0;
}

.BurgerCheck {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 2;
  pointer-events: all;

  width: 7.5vw;
  height: 7.5vw;

  margin: 7.5vw;
  margin-bottom: 0;

  opacity: 0;
}

.BurgerCheck:checked~.Sidebar__Burger .Burger::before {
  top: 0;
  transform: rotate(45deg);
  opacity: 1;
}

.BurgerCheck:checked~.Sidebar__Burger .Burger {
  background: rgba(0, 0, 0, 0);
}

.BurgerCheck:checked~.Sidebar__Burger .Burger::after {
  top: 0;
  transform: rotate(-45deg);
  opacity: 1;
}

.Burger,
.Burger::before,
.Burger::after {
  position: absolute;
  background-color: var(--color-palette-pure-white);
  width: 7.5vw;
  height: 0.5vw;
  transition: 0.25s ease-out;

  z-index: 1;
}

.Burger::before,
.Burger::after {
  content: "";
}

.Burger::before {
  top: -2.5vw;
}

.Burger::after {
  top: 2.5vw;
}

.Sidebar__Items {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4rem);

  width: 100vw;
  height: 100vh;

  top: 0;
  right: 100%;
  transition: 0.25s ease-out;
}

.BurgerCheck:checked~.Sidebar__Items {
  right: 0;
  pointer-events: all;
}

.Navbar {
  position: fixed;
  // backdrop-filter: blur(4rem);
  color: var(--color-palette-pure-white);
  z-index: 1;
  width: 100vw;
}

.Items {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 1.5% 5%;
  filter: drop-shadow(0 0.25rem 0.25rem black);
  font-weight: 700;
}

.ItemLinks {
  width: 40%;
  margin-left: auto;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.ItemImgContainer {
  width: 5vw;
}

.ItemImg {
  width: 5vw;
}

.Item {
  font-size: 1.5vw;
  color: var(--color-palette-pure-white);
  transition: all 0.125s ease-out;

  cursor: pointer;

  a {
    color: var(--color-palette-pure-white);
    text-decoration: none;
  }
}

.Item:hover {
  border-color: var(--color-palette-pure-white);
  font-weight: bold;
}

.ContactItemContainer {
  height: 4vh;
  background-color: var(--color-palette-pure-white);
  color: var(--color-palette-dark-gray);
  padding: 0.5vh 1vw;
  border-radius: 1vh;

  display: flex;
  align-items: center;
  filter: drop-shadow(0 0.5rem 0.25rem black);
}

.ContactItem {}

.Bar__Sidebar {
  display: none;
}

@media (orientation: portrait) {
  .Bar__Sidebar {
    display: block;
  }

  .Bar__Navbar {
    display: none;
  }

  .ItemLogo {
    display: none;
  }

  .Items {
    padding: 0;
  }

  .ItemLinks {
    flex-direction: column;
    // justify-content: space-between;

    align-items: start;

    width: 100vw;
    height: 25vh;

    padding: 0;

    margin-top: 22.5vw;
    margin-left: 7.5vw;
  }

  .Item {
    font-size: 7.5vw;
    width: auto;
  }

  .Item:hover {
    border-color: transparent;
  }
}