.experienceContainer {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.experience {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.textContainer {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 5%;
    padding-right: 2.5%;
}

.text {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.subtitleContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.subtitle {
    color: var(--color-palette-pure-white);
    font-family: "Roboto", Helvetica;
    font-size: 3vw;
    filter: drop-shadow(0 0 1.5px var(--color-palette-pure-white));
}

.titleContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.title {
    color: var(--primary);
    font-family: "Roboto Mono", Helvetica;
    font-size: 4vw;
    font-weight: 700;
    filter: drop-shadow(0 0 4.5px var(--primary));
}

.contentContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.content {
    color: var(--color-palette-light-gray);
    font-family: "Roboto", Helvetica;
    font-size: 1.5vw;

    a {
        color: var(--primary);
        text-decoration: none;
    }

}

.photoContainer {
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding-left: 2.5%;
    padding-right: 5%;
}

.photo {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    filter: drop-shadow(0 0.5rem 0.25rem black);
}

.upContainer,
.downContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 1% 0;
    border-radius: 0.25rem;

    background-color: var(--primary);
    filter: drop-shadow(0 0 3px var(--primary));
    cursor: pointer;

    transition: all 0.25s;
}

.upContainer:hover,
.downContainer:hover {
    transform: scale(1.025);
}

.up,
.down {
    height: 100%;
    z-index: 2;
}

.exampleContainer {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin: 5% 0;
}

.exampleLink {
    z-index: 2;
}

.example {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.subtract {
    width: 100%;
    position: absolute;
    transform: translateX(2.5%) translateY(5%);
}

.image {
    width: 100%;
    cursor: pointer;
}

.design {
    height: 0.33rem;
    width: 100%;

    margin-top: 0.67rem;

    background-color: var(--primary);
    filter: drop-shadow(0 0 3px var(--primary));
}

@media (orientation: portrait) {
    .experience {
        width: 90%;
        flex-direction: column;
    }

    .textContainer {
        width: 100%;
        height: auto;

        padding-left: 0;
        padding-right: 0;

        padding-top: 5%;
        padding-bottom: 5%;

        text-align: center;
    }

    .subtitleContainer {
        align-items: center;
    }

    .subtitle {
        font-size: 5vw;
        margin-left: 0;
    }

    .titleContainer {
        align-items: center;
    }

    .title {
        font-size: 6.25vw;
    }

    .content {
        font-size: 5vw;
    }

    .photoContainer {
        width: auto;
        height: 50%;

        padding-left: 0;
        padding-right: 0;

        padding-top: 5%;
        padding-bottom: 10%;
    }
}