.Navbar {
    position: fixed;
    color: var(--foreground);
    z-index: 3;
}

.Navbar__Items {
    width: 100vw;
}

.Items {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding: 2.5%;
}

.Item {
    transition: all 0.125s ease-out;
    border-bottom: 0.5px solid transparent;
    font-size: large;
    text-shadow: 0 0 5px black;
}

.Item:hover {
    border-color: var(--foreground);
    font-weight: bold;
}